@font-face {
    font-family: "FoundersGroteskBold";
    src: url('../fonts/foundersgrotesk-bold-webfont.woff2'),
        url('../fonts/foundersgrotesk-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FoundersGroteskSemibold";
    src: url('../fonts/foundersgrotesk-semibold-webfont.woff2'),
        url('../fonts/foundersgrotesk-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "FoundersGroteskRegular";
    src: url('../fonts/foundersgrotesk-regular-webfont.woff2'),
        url('../fonts/foundersgrotesk-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "TTTravelsBold";
    src: url('../fonts/tt_travels_next_bold-webfont.woff2'),
        url('../fonts/tt_travels_next_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$header-font: "TTTravelsBold";
$title-font: "FoundersGroteskBold";
$name-font: "FoundersGroteskSemibold";
$description-font: "FoundersGroteskRegular";

$main-colour: #5B3EDA;
$secondary-colour: #a63eda;